@charset "UTF-8";

#con2 {
    /* 추가 */
    /* border: 1px solid blue; */
    width: 70%;
    min-height : 80vw;
    height : auto;
    padding : 2% 0%;
    margin-left: 2%;
    text-align: center;
}

#menu_m {
    display: none;
}

.searchBox {
    /* 추가 */
    border: 3px solid rgb(223, 221, 221);
    width: 65%;
    height: 3%;
    margin: 0 auto;
    padding: 1% 0% 3% 0%;
}

#searchOp {
    width: 10%;
    padding: 1%;
    font-size: 1rem;
}

#searchText {
    width: 70%;
    padding: 1%;
}

#searchBtn {
    width: 10%;
    background-color: #FFCECB;
    border: 0.5px solid red;
    padding: 1%;
    font-size: 1rem;
}

#noticeTbl {
    margin: 0 auto;
    width: 95%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-spacing: 0;
}

#noticeTbl td {
    padding: 0.8%;
    border-bottom: 1px solid #D3D3D3;
/*     border-right: none;
    border-left: none; */
    font-size: 1rem;
}

#noticeTbl th {
    padding: 0.5%;
    border-bottom: 1px solid #D3D3D3;
    height: 2rem;
}

/* 글 작성하기 버튼	 */
#btn{
	float: right;
	width: 8%;
    /* background-color: #FFCECB;
    border: 0.5px solid red; */
    padding: 0.5%;
    font-size: 1rem;
    margin-bottom : 1%;
    margin-right: 2%;
}

/* 전체 글 리스트 조회 a태그 밑줄 및 색상제거	 */
 a{
	color : black;
	text-decoration: none;	
}

/* 페이징 부분 위치조정	*/
.pageInfo{
	text-align: center;
}

.pageInfo li{
		display : inline-block;
		list-style-type: none;
		margin-left: 20px;
	}
	
.pageInfo li a{
		float: left;
	}

/* 입력한 내용 그대로 출력(화면사이즈에 맞게 자동 줄내림) */
#p_content{
	white-space: pre-wrap;
}

/* 게시글 호버 */
#dataTr:hover{
/* 	background-color: #D3D3D3; */
	background-color: rgba(211, 211, 211, 0.4);
}

/* 입력창 크기 조절 및 테두리 제거  */
input{
	/* border:none; */
	height: 2rem;
	outline: none;
 	font-size: 1rem; 
}

/* 내용칸 테두리 제거  */
textarea{
	outline: none;
	font-size: 1rem;
	margin-right: 19%;
}

/* 분류번호칸 크기 및 폰트 조절  */
#ic_no{
	height: 3rem;
/* 	border:none; */
	font-size: 1rem;
}

/* 작성자 중앙정렬 밑 인풋 테투리 제거  */
#writer{
	border: none;
	text-align: center;
}
.button2 {
  background-color: white;
  margin-top : 1%;
  color: black; 
  border: 2px solid #FFCECB;
  cursor: pointer;
  width: 8%;
  height: 3rem;
  font-size: 1rem;  
}

.button2:hover {
  background-color: #FFCECB;
  color: white;
  cursor: pointer;
}

.contentTitle{
	margin-left: -4%;
}

#q_content{
	height: 25rem;
}

#q_answer{
	height: 25rem;
}

#btnGroup{
 	display: flex;
 	justify-content: center;
 	margin-left: -7%
}

/* 모바일 화면 */
@media screen and (max-width:600px) {

    #con2 {
        /* border: 1px solid blue; */
        width: 100%;
        margin: 0%;
        text-align: center;
        padding-bottom: 30%;
    }

    #menu_m {
        display: block;
    }

    #menu_m ul {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
    }
    
    
    #menu_m ul li{
        /* border: 1px solid red; */
        padding: 0% 2%;
    }

    #menu_m ul li a{
        /* border: 1px solid red; */
        text-decoration: none;
        color: #000;
        
    }

    .searchBox {
        border: 3px solid rgb(223, 221, 221);
        width: 80%;
        height: 10%;
        margin: 0 auto;
        padding: 1% 0% 3% 0%;
    }
    
    #searchOp {
        width: 20%;
        padding: 1%;
        font-size: 1rem;
    }
    
    #searchText {
        width: 60%;
        padding: 1%;
    }
    
    #searchBtn {
        width: 10%;
        background-color: #FFCECB;
        border: 0.5px solid red;
        padding: 1%;
        font-size: 0.8rem;
    }

    #noticeTbl {
        margin: 0 auto;
        width: 90%;
        font-size: 0.8rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
   
/* 글 작성하기 버튼(모바일)	 */
    #btn{
	float: left;
	width: 6%;
    background-color: #FFCECB;
    border: 0.5px solid red;
    padding: 0.5%;
    font-size: 1rem;
    }
}