<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.bbs.mapper.AdminMapper">
	
	<select id="adminidchkAjax" parameterType="com.bbs.model.AdminDTO" resultType="int">
		select count(*) from manager where manager_id=#{manager_id}
	</select>
	
	<insert id="adminInsert">
		insert into manager(manager_id, manager_pw, manager_name) 
		values(#{manager_id}, #{manager_pw}, #{manager_name})
	</insert>
	
	<select id="adminPwChk" resultType="com.bbs.model.AdminDTO">
		select * from manager where manager_id=#{manager_id}
	</select>
	
	
	
	
	
</mapper>