<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.bbs.mapper.CartMapper">
	
	<select id="selectAll" resultType="com.bbs.model.CartDTO">
		select * from cart c join product p on c.p_no = p.p_no where m_no=#{m_no}
	</select>
	
	<delete id="deleteOne">
		delete from cart where cart_no=#{cart_no}
	</delete>
	 
	<delete id="deleteAll">
		delete from cart where m_no=#{m_no}
	</delete>
	
	<insert id="goToCart">
		insert into cart(m_no, p_no, op_no1, option_quantity1, op_no2, order_price)
		values(#{m_no}, #{p_no}, #{op_no1}, #{option_quantity1}, #{op_no2}, #{order_price});
	</insert>
	
	
	
	
	
	
</mapper>